.photo-grid {
  width: calc(100% - 48px*2);
  margin: auto;
  padding-top: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px 16px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .photo-grid  {
    width: calc(100% - 48px*2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid  {
    width: calc(100% - 24px*2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 16px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid  {
    width: calc(100% - 16px*2);
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding-top: 64px;
  }
}
