.photo-grid {
  width: 1184px;
  height: 671px;
  margin: auto;
  padding-top: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px 16px;
}
