.cover__subtitle {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  margin: 16px auto auto auto;
  text-align: center;
}

@media screen and (max-width: 386px) {
  .cover__subtitle  {
    width: calc(100% - 16px*2);
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
  }
}
