.paragraph__place {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-left: 8px;
  text-align: left;
  }
  .paragraph__place:last-child {
    margin-bottom: 0;
  }

@media screen and (max-width: 768px) {
  .paragraph__place  {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .paragraph__place  {
  font-size: 16px;
    }
  }

@media screen and (max-width: 320px) {
  .paragraph__place   {
    margin: 0px 16px 0 16px;
    font-size: 16px;
    }
  }
