.lead__subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin: 32px auto 64px;
  width: calc(100% - 320px*2);
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    width: calc(100% - 192px*2);
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: calc(100% - 64px*2);
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: calc(100% - 16px*2);
    min-height: 40px;
    margin: 16px auto 40px;
  }
}
