.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: calc(100% - 148px*2);
  min-height: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}
.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1270px) {
  .place  {
    width: 928px;
  }
}

@media screen and (max-width: 1224px) {
  .place  {
    width: 765px;
  }
}

@media screen and (max-width: 1066px) {
  .place  {
    width: 720px
  }
}

@media screen and (max-width: 768px) {
  .place  {
    width: calc(100% - 24px*2);
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 761px) {
  .place  {
    grid-template-columns: 1fr;
    width: 320px;
  }
}

@media screen and (max-width: 365px) {
  .place  {
    width: 100%;
    margin-bottom: 50px;
    justify-items: center;
  }
}

@media screen and (max-width: 365px) {
  .place  {
    justify-items: start;
  }
}
