.place__paragrah_margin {
  margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragrah_margin   {
    margin-bottom: 27px;
    }
  }

@media screen and (max-width: 768px) {
  .place__paragrah_margin  {
    margin-bottom: 25px;
    }
  }

@media screen and (max-width: 320px) {
  .place__paragrah_margin   {
    margin-top: 32px;
    margin-bottom: 25px;
    }
  }
